#body {
  /* width: 100vw; */
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 500px;
  background: linear-gradient(180deg, darkred, #cf0000);
}

.container {
  /* width: 10px; */

  height: 150px;
  display: flex;
  place-content: center;
  /* overflow: hidden; */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
}

.item {
  width: 56%;
  overflow: visible;
  stroke: #fff;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}
